@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Playfair+Display');


body{
	background-color:#c5f1f9;
	font:15px/1.5 Playfair Display;
	margin:0;
	margin-right:0px;
	overflow-x:hidden;
}

/*Global*/
.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}


header ul{
	margin:0;
	padding:0;
}

.thecenter{
	text-align:center;
}

.buttons{
	text-align:center;
}

.button_1{
	text-align: center;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.7s;
	height:38px;
	font-size:18px;
	background:transparent;
	border: 2px solid white;
	opacity:1;
	padding-left:18px;
	padding-right:18px;
	color:white;
}
#button_2{
	text-align: center;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.7s;
	height:38px;
	font-size:18px;
	background:transparent;
	border: 2px solid black;
	opacity:1;
	padding-left:18px;
	padding-right:18px;
	color:black;
	margin-left: -35px;
	margin-top: -30px;
	margin-bottom: 50px;
}

#stockpick{
	margin-top:50px;
	font-size:40px;
}

#stocks{
	font-size: 26px;
}

.button_1 :hover{
	color:green;
}


    li {
    float: left;
}
         
li a, .dropbtn {
    display: inline-block;
    color: #DBD88D;
    text-align: center;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0B0B0B;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0.95;
}

.dropdown-content a {
    color: #DBD88D;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/*header*/

#andy{
	margin-top:-65px;
}
#chenkai{
	margin-top:-65px;
}
#ayman{
	margin-top:-65px;
}



.explanation{
	margin-top:-130px;
	margin-left:0px;
	text-align:center;
	margin-left:200px;
	margin-right:200px;
	margin-bottom:-70px;
	
}

#explain{
	margin-bottom:200px;
}

.corporate{
	width:20%;

}

#logo .loogo img{
	margin-left:0px;
	margin-bottom:-40px;
	width:12%;
	height:12%;
}

/*for the links*/
header a{
	color:#DBD88D;
	text-decoration:none;
	margin-bottom:10px;
	text-transform: uppercase;

}


/*creates the tabs along a horizontal line*/
header li{
	float:left;
	display:inline;
	padding: 0 20px 0 20px;
	margin-left:5px;
	margin-right:3px;
	background-color:black;
}

/*number sign for id */
header #branding{
	float:left;
}

header #branding h1{
	margin:0;
}

header nav{
	float:right;
}

	
header a:hover{
	font-weight:bold;
}

/* Showcase */


li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0B0B0B;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0.95;
}

.dropdown-content a {
    color: #DBD88D;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #0B0B0B}

.dropdown:hover .dropdown-content {
    display: block;
}

#showcase1 {
	padding-left: 30px;
	padding-right:20px;
   background:black;
   margin-top:-250px;
   opacity:0.89;
   width: 45%;
   color:white;
   position: absolute;
   left: 0px;
   height: 100%;
   min-height:400px;
	max-height:400px;
}
#showcase2 {
  /* bottom, image */
  margin-top:-250px;
  position: absolute;
  background:
    url(https://assets.lookbookspro.com/stewart-cohen/ml_53601d2d-9ca4-42aa-b3b3-0fbe0a627753.gif);
   width: 55%;
   position: absolute;
   right: 0px;
   height: 100%;
   min-height:400px;
	max-height:400px;
}

#showcase1 h1{
	margin-top:70px;
	font-size:40px;
	font-weight: 500;
	margin-bottom:10px;
	text-align:left;
}

#showcase1 p{
	font-size:20px;
}

#execs{
	margin-top:-80px;
	text-align:center;
	margin-left: 200px;
	margin-right:200px;
}

#aw{
	font-size:33px;
}

#as{
	font-size:33px;
}
#cz{
	font-size:33px;
}
#ak{
	font-size:33px;
}


#boxes{
	position:relative;
	left:70px;
	margin-top:360px;
	margin-bottom:-80px;
	float:center;
	width:90%;
}

h4{
	margin-top:1%;
	font-size:27px;
	font-weight:bold;
	}

h6{
	font-size:25px;
	font-weight:bold;
	text-align:center;
}

#people{
font-size: 24px;
}
#boxes .box{
	float:left;
	color:white;
	background-color:black;
	text-align: center;
	width:200px;
	height:235px;
	padding-top:70px;
	margin-top:-30px;
	margin-left:10px;
	margin-right:10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom:90px;
}


#boxes .box img{
	width: 180px;
	height: 150px;
	border-radius:10px;
	
}

#boxes p{
	font-size: 18px;
}

#basicinfo {
	background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
		to right,
		rgba(220, 220, 255, 1), 
		rgba(220, 220, 255, 0.1)
    ),
    /* bottom, image */
    url(https://i.pinimg.com/originals/29/cc/54/29cc5456ed1b6ab3d675bf0971595506.jpg);
	background-repeat: no-repeat;
	background-size:100%;
	background-position: 0px, 0px;
	padding-top:150px;
	padding-bottom:350px;
	border-bottom:2px #80ffff solid;
	
	
}

#basicinfo .info{
	width:40%;
	font-size:22px;
	float:left;
	margin-left:8%;
	margin-right:1%;
}


#learnmore {
	text-align:center;
}

#contact{
    position: relative;
}

#contact::before {
	border-top:3px black solid;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('https://www.genesischristianradio.com/wp-content/uploads/2018/01/contact-us.png');
    opacity: .4;
    content: "";
    z-index: -1;
	padding-bottom:550px;
	background-position:40px 20px;
	font-size:40px;
}

#contact .information{
	text-align:center;
	font-size:23px;
}



h2{
	font-size:35px;
	padding-top:200px;
	padding-left:50px;
	text-align:center;
	
}

#analysis {
	margin-top:20px;
}



header {
	margin-top:0px;
	position: fixed;
	z-index:10000;
	left: 0;
	top: 0;
	width: 100%;
	background-color: black;
	color: gold;
	text-align: center;
	font-size:18px;
	font-weight:500;
	font-weight:500;
}


.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: #DBD88D;
	text-align: center;
	font-size:18px;
	font-weight:500;
}


.button_4{
	float:center;
	height:78px;
	padding-left:50px;
	padding-right:50px;
	border-radius:18px;
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJIRPL2g1s61xubqJA3JL9xH97LDAMXEhvfVqlAW_PQto4MUaJ");
	background-repeat: no-repeat;
	background-size:100%;
	font-weight:bold;
	font-size:18px;
	
}

.button_4:hover{
	padding-left:55px;
	padding-right:55px;
	padding-top:55px;
	padding-bottom:25px;
}

.button_5{
	margin-left:45%;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.7s;
	height:38px;
	font-size:18px;
	background:#2fd442;
	opacity:0.8;
	border:0;
	padding-left:28px;
	padding-right:28px;
	color:black;
	border-radius:7px;
}









/*ABOUT SECTION*/

.thetest{
	background: url("https://vignette.wikia.nocookie.net/glee/images/d/d7/Sky.jpg/revision/latest?cb=20130910145646");

}
.aboutsection{
	font-size:20px;
	margin:50px 60px 10px 50px;
	
}



/*CONTACT SECTION*/

.contact-title{
	margin-top: 100px;
}

.contact-form{
	margin-bottom:180px;
}

.contact-title h5{
	text-align: center;
	font-size:32px;
	line-height: 10px;
}

.contact-title h6{
}

.test{
	background: url("https://vignette.wikia.nocookie.net/glee/images/d/d7/Sky.jpg/revision/latest?cb=20130910145646");
	
	}

form{
	text-align:center;
	margin-top:40px;
}

.form-control{
	width: 600px;
	background: transparent;
	border:none;
	outline: none;
	border-bottom: 1px solid black;
	color:black;
	font-size:18px;
	margin-bottom:10px;
}

#thebutton{
	height:50px;
	background: #ff5722;
	font-size:17px;
	border-color: transparent;
	margin-top: 20px;	
	font-weight: bold;
	margin-top:20px;
	border-radius:8px;
	}
	
#thebutton:hover{
	background: #ff7722;
	cursor: pointer;
}
	
	
















