body {
	background: #EEEEEE;
	font-family: calibri, arial;
}

a {
	color: #1786D0;
}

#container {
	background: white;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#header{
	background: #A1D7FB;
	text-align: center;
	padding: 10px;
}

#content {
	padding: 10px;
	background: white;
}

#nav {
	width: 180px;
	float: left;
}

#nav ul {
	list-style-type: none;
	padding: 0;
}

nav.selected {
	font-weight: bold;
}

#main {
	width: 600px;
	float: right;
}
