.flex-container {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

.flex-container * {
	display: block;
	margin: 0px;
	padding: 10px;
	vertical-align: middle;
}

.flex-container a {
	text-align: center;
	border: 1px solid black;
	border-left: none;
}

.flex-container h1 {
	background-color: red;
	width: 100%;
	border: 1px solid black;
}

#main {
	background-color: lightgray;
	width: 100%;
}

vr {
	color: black;
	background-color: black;
}

